.cart {
  margin-top: 5.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.cartItem {
  max-width: 90%;
  height: auto;
  display: flex;
  align-items: center;
  box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2);
  border-radius: 25px;
  margin: 3%;
}

.cartItem img {
  max-width: 40%;
}

.cartItem .description {
  width: 60%;
  font-size: 1.5em;
}

.countHandler input {
  width: 10%;
  text-align: center;
  font-weight: bolder;
}

.checkout button {
  width: 40%;
  height: 5%;
  font-size: 1em;
  margin: 2%;
}

@media screen and (min-width: 1200px) {
  .cartItem {
    max-width: 500px;
    margin: 20px;
  }

  .cartItem img {
    max-width: 30%;
  }

  .cartItem .description {
    width: 70%;
    font-size: 1.8em;
  }

  .countHandler input {
    width: 8%;
  }

  .checkout button {
    width: 30%;
    height: 4%;
    font-size: 1.2em;
    margin: 10px;
  }
}
/* cart.css */
.continueShoppingButton {
  background-color: #007bff;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
  text-decoration: none;
  display: inline-block;
  margin-top: 10px; /* Adjust as needed */
  position: relative;
  overflow: hidden;
  transition: background-color 0.3s, box-shadow 0.3s;
  margin-bottom: 3%;
}

.continueShoppingButton::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 300%;
  height: 300%;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 50%;
  z-index: 0;
  transition: all 0.5s ease;
  transform: translate(-50%, -50%) scale(0);
}

.continueShoppingButton:hover {
  background-color: #0056b3; /* Adjust the color for hover state */
  box-shadow: 0 0 20px 5px rgba(0, 123, 255, 0.5); /* Adjust the glow effect */
}

.continueShoppingButton:hover::before {
  transform: translate(-50%, -50%) scale(1);
}

.continueShoppingButton span {
  position: relative;
  z-index: 1;
}
.BuyCart {
  background-color: #007bff;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
  text-decoration: none;
  display: inline-block;
  margin-top: 10px; /* Adjust as needed */
  position: relative;
  overflow: hidden;
  transition: background-color 0.3s, box-shadow 0.3s;
  margin-bottom: 3%;
}

.BuyCart::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 300%;
  height: 300%;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 50%;
  z-index: 0;
  transition: all 0.5s ease;
  transform: translate(-50%, -50%) scale(0);
}

.BuyCart:hover {
  background-color: #0056b3; /* Adjust the color for hover state */
  box-shadow: 0 0 20px 5px rgba(0, 123, 255, 0.5); /* Adjust the glow effect */
}

.BuyCart:hover::before {
  transform: translate(-50%, -50%) scale(1);
}

.BuyCart span {
  position: relative;
  z-index: 1;
}
