
.tobuy {
  background-color: transparent;
  border: 2px solid rgb(85, 203, 0);
  min-width: 100px;
  padding: 8px 12px; /* Adjusted padding for better button size */
  border-radius: 15px;
  margin-bottom: 3%;
  margin-left: 10px;
 
}

.tobuy:hover {
  background-color: rgb(57, 202, 46);
  color: white;
  cursor: pointer;
}
.remove {
  background-color: transparent;
  border: 2px solid rgb(255, 15, 15);
  min-width: 100px;
  padding: 8px 12px; /* Adjusted padding for better button size */
  border-radius: 15px;
}

.remove:hover {
  background-color: rgb(255, 0, 0);
  color: white;
  cursor: pointer;
}
