/* Loginstyle.css */

.login-container {
  max-width: 300px;
  margin: 50px auto; /* Center the login container vertically and horizontally */
  padding: 20px;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  margin-top: 250px;
}

.input-container {
  margin-bottom: 15px;
}

.input-container label {
  display: block;
  margin-bottom: 5px;
}

.input-container input {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

.login-button {
  width: 100%;
  padding: 10px;
  background-color: #000;
  color: #fff;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

.login-button:hover {
  background-color: #333;
}

/* Advanced Styles */
.login-container h2 {
  text-align: center;
  color: #333;
}

.login-container input[type="text"],
.login-container input[type="tel"] {
  /* Adjust input font size for better readability */
  font-size: 16px;
}

.login-container .input-container {
  position: relative;
}

.login-container .input-container label::after {
  content: "*";
  color: red;
  position: absolute;
  right: 0;
  top: 6px;
}

/* Media Queries for Responsive Design */
@media only screen and (max-width: 600px) {
  .login-container {
    max-width: 70%;
    margin-top: 150px;
  }
}
